/* ----------------------------start of nav bar  */

.navbar{

    box-shadow:0 2px 2px 1px rgba(25,25,25,.2);
    --font-family-sans-serif: "Lato",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "SFMono-Regular",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.bg-wite{
    background-color:#fff;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.bg-wite{
    background-color:#fff;
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}
/* @media (max-width: 991px) */

.navbar .dropdown-menu{
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.navbar-collapse.collapsing .nav-item .navbar-collapse.show .nav-item {
    padding-left: 1em;
}
.navbar-collapse a {
    letter-spacing: .12em;
}
.pb-2 .py-2 {
    padding-bottom: .5rem!important;
}
.pt-2 .py-2 {
    padding-top: .5rem!important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1.4rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #f8f9fa!important;;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    margin-bottom: 60px;
    font-family: Lato,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
 }
 
.nav-item {
    font-size: 17px;
}

/* ---------------------------------end of nav bar  */
 /* the start of login form  */
#logincontainer {
    margin-top:200px;
    position: relative;
}

#login-form{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

 /* the end of login an sign up form  */
/* welcome page */


 /* Lecture Page */

 .list{
     cursor: pointer;
        /* margin-top: 150px; */
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top:5 auto;
        margin-bottom:5 auto;
        max-width: 150rem;
        font-family: Lato,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        font-size: 5rem;
    }
     
      #flavor-text {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top:5 auto;
        margin-bottom:5 auto;
        max-width: 150rem;
        font-family: Lato,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        font-size: 3rem;
  }
  h3#flavor-text{
      font-size:5rem;
  }
  
  h1.ng-binding {
      font-size: 5rem;
  }
  p.ng-binding {
    font-size: 4rem;
}
a.ng-binding {
    font-size: 4rem;
}
 /* End Lecture Page */





 /* Syllabus Page */

div.main {

    margin-top: 150px; /*match the smooth scroll bufer*/
}
div.syllabus {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top:5 auto;
        margin-bottom:5 auto;
        max-width: 100rem;
  }
  
  li {
    padding: 5px 0;
  }
 /* End Syllabus Pages */

 /* Form Styling for Lectures, Labs, and Resources */
 #weekNum{
    width: 4rem;
  }
  #dayNum{
    width: 4rem;
  }
  #smallTitle{
    width: 10rem;
  }
  #shortDescription{
    width: 23rem;
  }
  #url{
    width: 25rem;
  }
  #tablePadding {
      padding-bottom: 2.5rem;
  }

  /* .update-lecture-form {
      width: 50%;
  }
  .my-form {
      width: 60%
  } */
/* End Form Styling for Lectures, Labs, and Resources */

/* start of footer --------------- */

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#373f47;
    box-sizing: border-box;
    text-align:center;
    /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    --font-family-sans-serif: "Lato",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "SFMono-Regular",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
 }
 
.logo-mark {
    height: 100px;
    width: 4em;
    margin-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
div.col-lg-12.col-lg-offset-6 {
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-right:100px;
    --font-family-sans-serif: "Lato",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "SFMono-Regular",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.container .pt-5 {
text-align: center;
--font-family-sans-serif: "Lato",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
--font-family-monospace: "SFMono-Regular",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

footer .social-icon {
    height: auto;
    width: 2em;
}


/* --------------------end of footer */ 

