





/* ----------------------------start of nav bar  */
html{
    position: relative;
    min-height: 100%;
}
body {
    height: 100%;
    margin-bottom: 60px;
}
.nav-item {
    font-size: 17px;
}
.navbar {
    background-color: white;
    height: 70px;
}


/* ---------------------------------end of nav bar  */
 /* the start of login form  */
#login{
   text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid #373f47;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 30%;
}
 
 /* the end of login an sign up form  */


/* start of footer --------------- */

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#373f47;
    box-sizing: border-box;
    text-align:center;
    /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
 }
 
.logo-mark {
    height: auto;
    width: 4em;
    margin-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}


footer .social-icon {
    height: auto;
    width: 2em;
}


/* --------------------end of footer */ 