





/* ----------------------------start of nav bar  */
body {
    height: 100%;
    /* background-color: #CFCFCF; */
}
.nav-item {
    font-size: 17px;
}
.navbar {
    background-color: white;
    height: 70px;
}


/* ---------------------------------end of nav bar  */
 


/* start of footer --------------- */


.py-5 {
    padding-bottom: 3rem!important;
}
.py-5 {
    padding-top: 3rem!important;
}
.bg-dark {
    background-color: #373f47!important;
}


footer .logo .logo-mark {
    height: auto;
    width: 4em;
    margin-bottom: 2em;
}


img {
    vertical-align: middle;
    border-style: none;
}


/* --------------------end of footer */ 