<div ng-repeat="w in week1">
    <h1>Week {{ w.week }}</h1>
    <div ng-repeat="w in week1">
        <h3>Day: {{ w.dayid }} </h3>
        <h5>{{ w.title }}</h5>
        <p>{{ w.description }}</p>
        <a ng-href="{{ w.url }}">
            <p>{{ w.url }}</p>
        </a>
    </div>
</div>
<div>
    <h1>Week 2</h1>
    <div ng-repeat="w in week2">
        <h3>Day: {{ w.dayid }} </h3>
        <h5>{{ w.title }}</h5>
        <p>{{ w.description }}</p>
        <a ng-href="{{ w.url }}">
            <p>{{ w.url }}</p>
        </a>
    </div>
</div>
<div>
    <h1>Week 3</h1>
    <div ng-repeat="w in week3">
        <h3>Day: {{ w.dayid }} </h3>
        <h5>{{ w.title }}</h5>
        <p>{{ w.description }}</p>
        <a ng-href="{{ w.url }}">
            <p>{{ w.url }}</p>
        </a>
    </div>
</div>

<div>
    <h1>Week 4</h1>
    <div ng-repeat="w in week4">
        <h3>Day: {{ w.dayid }} </h3>
        <h5>{{ w.title }}</h5>
        <p>{{ w.description }}</p>
        <a ng-href="{{ w.url }}">
            <p>{{ w.url }}</p>
        </a>
    </div>
</div>
<div>
    <h1>Week 5</h1>
    <div ng-repeat="w in week5">
        <h3>Day: {{ w.dayid }} </h3>
        <h5>{{ w.title }}</h5>
        <p>{{ w.description }}</p>
        <a ng-href="{{ w.url }}">
            <p>{{ w.url }}</p>
        </a>
    </div>
</div>
<div>
    <h1>Week 6</h1>
    <div ng-repeat="w in week6">
        <h3>Day: {{ w.dayid }} </h3>
        <h5>{{ w.title }}</h5>
        <p>{{ w.description }}</p>
        <a ng-href="{{ w.url }}">
            <p>{{ w.url }}</p>
        </a>
    </div>
</div>
<div>
    <h1>Week 7</h1>
    <div ng-repeat="w in week7">
        <h3>Day: {{ w.dayid }} </h3>
        <h5>{{ w.title }}</h5>
        <p>{{ w.description }}</p>
        <a ng-href="{{ w.url }}">
            <p>{{ w.url }}</p>
        </a>
    </div>
</div>
<div>
    <h1>Week 8</h1>
    <div ng-repeat="w in week8">
        <h3>Day: {{ w.dayid }} </h3>
        <h5>{{ w.title }}</h5>
        <p>{{ w.description }}</p>
        <a ng-href="{{ w.url }}">
            <p>{{ w.url }}</p>
        </a>
    </div>
</div>
<div>
    <h1>Week 9</h1>
    <div ng-repeat="w in week9">
        <h3>Day: {{ w.dayid }} </h3>
        <h5>{{ w.title }}</h5>
        <p>{{ w.description }}</p>
        <a ng-href="{{ w.url }}">
            <p>{{ w.url }}</p>
        </a>
    </div>
</div>
<div>
    <h1>Week 10</h1>
    <div ng-repeat="w in week10">
        <h3>Day: {{ w.dayid }} </h3>
        <h5>{{ w.title }}</h5>
        <p>{{ w.description }}</p>
        <a ng-href="{{ w.url }}">
            <p>{{ w.url }}</p>
        </a>
    </div>
</div>