<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="images/covalence-text-logo.svg" height="105" width="210">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav navbar-nav navbar-right">
            <a class="nav-item nav-link" href="#">Fullstack</a>
            <a class="nav-item nav-link" href="#">ReactJS</a>
            <a class="nav-item nav-link" href="#">Front End Fundamentals</a>
            <a class="nav-item nav-link" href="#">Blog</a>
        </div>
    </div> -->
</nav>

<!-- ///////////////////The start of the login and sign up -->
<div id="login">
    <h1>Welcome Back!</h1>

    <form>

        <div class="form-group">
            <label>
                <span class="fa fa-envelope" aria-hidden="true"></span>
            </label>
            <input type="email" placeholder="email" ng-model="email" id="email"></input>
        </div>

        <div class="form-group">
            <label>
                <span class="fa fa-unlock-alt" aria-hidden="true"></span>
            </label>
            <input type="password" name="password" ng-model="password" placeholder="password" required>
        </div>

        <p class="forgot">
            <a href="#">Forgot Password?</a>
        </p>

        <button class="btn btn-lg btn-primary" ng-click="login()"> Log In</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Sign Up</button>


    </form>

</div>

</div>
<!-- tab-content -->

<div class="login-container">
    <!-- Trigger the modal with a button -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sign Up</h4>
                </div>
                <div class="modal-body">
                    <div class="form">

                        <div class="tab-content">
                            <div id="signup">
                                <h1>Create an Account</h1>

                                <form>

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>
                                                First Name
                                                <span class="req">*</span>
                                            </label>
                                            <input type="name" ng-model="firstname" id="name" placeholder="firstname" type="text" required autocomplete="off">
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                Last Name
                                                <span class="req">*</span>
                                            </label>
                                            <input type="text" name="lastname" ng-model="lastname" id="name" placeholder="lastname" required autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Email Address
                                            <span class="req">*</span>
                                        </label>
                                        <input type="email" ng-model="email" id="email" placeholder="email" required></input>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            Set A Password
                                            <span class="req">*</span>
                                        </label>
                                        <input type="password" name="password" ng-model="password" placeholder="password" required>
                                    </div>

                                    <button type="submit" class="button button-block" ng-click="signup()">Sign Up</button>

                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- ///////////////////////////sthe end of login and start up  -->
<!--- Top of footer-->
<div id="footer">

    <footer class="bg-dark py-5">
        <div class="logo">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-6">
                <img class="logo-mark" src="https://covalence.io/static/img/logos/covalence-mark.svg" alt="Covalence Logo Mark">
                </div>
            </div>
        </div>
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-4 align-self-end text-center text-md-left mb-2">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/covalence.io/" class="d-inline mx-1">
                    <img class="social-icon" src="https://covalence.io/static/img/social/instagram.svg" alt="Instagram Logo"> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/covalence_io/" class="d-inline mx-1">
                    <img class="social-icon" src="https://covalence.io/static/img/social/twitter.svg" alt="Twitter Logo"> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/covalence.io/" class="d-inline mx-1">
                    <img class="social-icon" src="https://covalence.io/static/img/social/facebook.svg" alt="Facebook Logo"> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/covalence---coding-bootcamp/" class="d-inline mx-1">
                    <img class="social-icon" src="https://covalence.io/static/img/social/linkedin.svg" alt="Linkedin Logo"> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.coursereport.com/schools/covalence" class="d-inline mx-1">
                    <img class="social-icon" src="https://covalence.io/static/img/social/coursereport.svg" alt="Course Report Logo">
                </a>
                </div>
                <div class="contact col-md-6 align-self-end text-center text-md-right my-2">
                    <span class="text-warning px-2">General Admissions Contact:</span>
                    <a href="mailto:admissions@covalence.io" class="text-white br px-2">admissions@covalence.io</a>
                    <a href="tel:+12055884232" class="text-white px-2">205.588.4232</a>
                </div>
            </div>
            <hr class="bg-gray mb-2">
            <div class="row">
                <div class="col text-center text-md-left">
                    <span class="px-2 br text-gray text-nowrap">
                    <span style="font-size:80%">©</span> 2017 Covalence. All Rights Reserved</span>
                    <a href="/privacy-policy/" class="px-2 text-info br text-nowrap">Privacy Policy</a>
                    <a href="/terms-of-service/" class="px-2 text-info text-nowrap">Terms of Service</a>
                </div>
            </div>
        </div>
    </footer>


</div>


<!--- Bottom of footer-->