<!-- /////////////start: nav bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand" href='/welcome'>
        <img src="images/covalence-text-logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-end collapse" id="mainNavbar">
        <ul class="navbar-nav pr-xl-5">
            <li class="nav-item mx-md-1 mx-xl-3 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Fullstack</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a ng-if="me.classStatus === 'active'" class="dropdown-item" href="/lectures">Lectures</a>
                    <a ng-if="me.classStatus === 'active'" class="dropdown-item" href="/labs">Labs</a>
                    <a class="dropdown-item" href="/syllabus">Syllabus</a>
                    <a ng-if="me.classStatus === 'active'" class="dropdown-item" href="/resources">Resources</a>
                    <a ng-if="me.role === 'admin'" class="dropdown-item" href="/users">Users</a>
                </div>
            </li>
            <li class="nav-item mx-md-1 mx-xl-3 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">React Native</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a ng-if="me.role === 'admin'" class="dropdown-item" href="#">Lectures</a>
                    <a ng-if="me.role === 'admin'" class="dropdown-item" href="#">Labs</a>
                    <a class="dropdown-item" href="#">Syllabus</a>
                    <a ng-if="me.role === 'admin'" class="dropdown-item" href="#">Resources</a>
                </div>
            </li>
            <li class="nav-item mx-md-1 mx-xl-3 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Front End Fundamentals</a>
                <div class="dropdown-menu front-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Lectures</a>
                    <a class="dropdown-item" href="#">Labs</a>
                    <a class="dropdown-item" href="#">Syllabus</a>
                    <a class="dropdown-item" href="#">Resources</a>
                </div>
            </li>
            <li>
                <a class="nav-item nav-link" href='https://covalence.io/blog/' target="_blank">Blog</a>
            </li>
            <li class="nav-item mx-md-1 mx-xl-3">
                <button type="button" class=" btn btn-danger btn-lg" ng-controller="logoutController" ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>
            </li>
        </ul>
    </div>
</nav>
<!-- ///////////////end:nav bar //////////////////////////////// -->

<!--Begin Text Intro-->
    <div class="main">
        <div class="flavor-text">
            <center>
                <h3 id="flavor-text">Full Stack Development Course Extra Resources</h3>
                <img src="images/girl-coder.svg" height="200rem" width="300rem">
                <p id="flavor-text" ng-if="me.role === 'user'">Below are several categories with various links to videos, sites, and portfolio building projects.</p>
                <p id="flavor-text" ng-if="me.role === 'admin'">Add, edit, or delete items to the various Extra Resources categories using the corresponding fields and buttons.</p>
            </center>
            <p>&nbsp</p>
        </div>
    </div>
<!--End Text Intro Student-->

<!-- Begin Admin View-->
<div class="container">
    <div class="main" ng-if="me.role === 'admin'">
        <h1>Add New Resource:</h1>
        <form class='my-form' ng-submit="save()">
            <div class="form-group">
                <select class="form-control" ng-model="resources.categoryid">
                    <option value=''>Select Category</option>
                    <option value='1'>Videos</option>
                    <option value='2'>Portfolio Building Projects</option>
                    <option value='3' ng-model='resources.categoryname'>Misc.</option>
                </select>
                <input class='form-control' type="number" ng-model="resources.orderid" placeholder="Priority">
                <input class="form-control" type="text" ng-model="resources.title" placeholder="Title">
                <input class="form-control" type="text" ng-model="resources.description" placeholder="Description">
                <input class="form-control" type="text" ng-model="resources.url" placeholder="URL">
                <input class="btn btn-success" type="submit" value="Add Resource">
            </div>
        </form>
    </div>

    <div class="main" ng-if="me.role === 'admin'">
        <form class='update-resource-form'>
            <div class='form-group' ng-repeat="r in sorted_resources = (resources | orderBy: 'categoryid')">
                <div ng-hide="r.name === sorted_resources[$index - 1].name">
                    <h1>{{ r.name }}</h1>
                </div>

                <table class='table table-hover'>
                    <thead>
                        <tr>
                            <th scope="col">Category:</th>
                            <th scope="col">Title:</th>
                            <th scope="col">Url:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">
                            <td>
                                <input class="form-control" type="text" ng-model="r.name">
                            </td>
                            <td>
                                <input class='form-control' type="text" ng-model="r.title">
                            </td>
                            <td>
                                <input class='form-control' type="text" ng-model="r.url">
                            </td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                            <th colspan="3">Description:</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr scope="row">
                            <td colspan="3">
                                <input class='form-control' type="text" ng-model="r.description">
                            </td>
                        </tr>
                    </tbody>
                </table>
              
                <button class="btn btn-info" ng-click="update()">Update</button>
                <button class="btn btn-danger" ng-click="delete()">Delete</button>
                </br>
            </div>
        </form>
    </div>
</div>
<!--End Admin View -->

<!--User View-->
<div class="main">
    <div class="container">

        <div class="list" ng-if="me.role === 'user'" ng-repeat="r in sorted_resources = (resources | orderBy:'categoryid')" ng-click="show()">
            <div>
                <hr class="style1"> </div>
            <div ng-hide="r.name === sorted_resources[$index - 1].name">
                <h1 id="resourcesName">{{ r.name }}</h1>
            </div>

            <div ng-hide="hidden" ng-repeat="i in resources | filter: { name : r.name }">
                <h3>
                    <a id="resourcesTitle" ng-href="{{ i.url }}">{{ i.title }}</a>
                </h3>
                <p id="resourcesDescription">{{ i.description }}</p>
            </div>

        </div>

    </div>
</div>
<!--End User View-->

<!--//////////////////////////////////////////////// start:footer -->
<div id="footer">
    <footer class="bg-dark py-5">
        <div class="logo">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-6">
                    <img class="logo-mark" src="https://covalence.io/static/img/logos/covalence-mark.svg" alt="Covalence Logo Mark">
                </div>
            </div>
        </div>
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-4 align-self-end text-center text-md-left mb-2">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/covalence.io/" class="d-inline mx-1">
                        <img class="social-icon" src="https://covalence.io/static/img/social/instagram.svg" alt="Instagram Logo"> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/covalence_io/"  class="d-inline mx-1">
                        <img class="social-icon" src="https://covalence.io/static/img/social/twitter.svg" alt="Twitter Logo"> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/covalence.io/"  class="d-inline mx-1">
                        <img class="social-icon" src="https://covalence.io/static/img/social/facebook.svg" alt="Facebook Logo"> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/covalence---coding-bootcamp/" class="d-inline mx-1">
                        <img class="social-icon" src="https://covalence.io/static/img/social/linkedin.svg" alt="Linkedin Logo"> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.coursereport.com/schools/covalence" class="d-inline mx-1">
                        <img class="social-icon" src="https://covalence.io/static/img/social/coursereport.svg" alt="Course Report Logo">
                    </a>
                </div>
                <div class="contact col-md-6 align-self-end text-center text-md-right my-2">
                    <span class="text-warning px-2">General Admissions Contact:</span>
                    <a href="mailto:admissions@covalence.io" class="text-white br px-2">admissions@covalence.io</a>
                    <a href="tel:+12055884232" class="text-white px-2">205.588.4232</a>
                </div>
            </div>
            <hr class="bg-gray mb-2">
            <div class="row">
                <div class="col text-center text-md-left">
                    <span class="px-2 br text-gray text-nowrap">
                        <span id="grey-text-footer">©2017 Covalence. All Rights Reserved</span>
                        <a href="/privacy-policy/" class="px-2 text-info br text-nowrap">Privacy Policy</a>
                        <a href="/terms-of-service/" class="px-2 text-info text-nowrap">Terms of Service</a>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /////////////////////end: footer //////////////// -->