<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="images/covalence-text-logo.svg" height="105" width="210">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="nav navbar-nav navbar-right">
                <a class="nav-item nav-link" href="#">Fullstack</a>
                <a class="nav-item nav-link" href="#">ReactJS</a>
                <a class="nav-item nav-link" href="#">Front End Fundamentals</a>
                <a class="nav-item nav-link" href="#">Blog</a>
            </div>
        </div>
       
    </nav>

    <button type="button" class="btn btn-default btn-sm" ng-controller="logoutController" ng-click="logout()">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </button>


